.contact {
    background-color: white;
    display: flex;
    overflow: hidden;
    .left {
        flex: 1;
        img {
            height: 100%;
        }
    } 
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-size: 30px;
        }
        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        

            input {
                width: 300px;
                height: 30px;
                font-size: 14px;
            }

            textarea {
                width: 300px;
                height: 200px;
                font-size: 14px;
            }
            button {
                width: 150px;
                height: 40px;
                color: white;
                background-color: rgb(89, 143, 202);
                border: none;
                font-size: 20px;
                border-radius: 20px;
                font-weight: 500;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
            }
            span {
                color: rgb(241, 110, 110);
                font-style: bold;
                font-size: 30px;
            }
        }
    }
}