.intro {
    background-color: white;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;

        .imageContainer {
            width: 700px;
            height: 700px;
            background-color: rgb(32, 32, 32);
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img {
                height: 90%;

            }
        }
        // background-color: aquamarine;

    }

    .right {
        flex: 0.5;
        // background-color: blanchedalmond;
        position: relative;
        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1 {
                font-size: 60px;
                margin: 5px 0;
            }
            h2 {
                font-size: 30px;
                height: 35.5px;
                span {
                    color: rgb(0, 195, 255);
                }
            }
            h3 {
                font-size: 30px;
            }

        }
        a {
            position: absolute;
            bottom: 10px;
            

            .arrow {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }
            @keyframes arrowBlink{
                100% {
                    opacity: 0;
                }
            }

        }
    }
}